.friends {
   background: #fff;
   padding: 10px 15px;
   border-radius: 10px;
   max-width: 220px;
   display: flex;
   justify-content: flex-start;
   gap: 18px;
   align-items: center;
   flex-wrap: wrap;
}

.title {
   color: rgb(70, 112, 98);
   margin-bottom: 20px;
}
.wrapper {
   margin-top: 40px;
   /* max-width: 60%; */
}
