.friends {
   background: #fff;
   padding: 10px;
   border-radius: 10px;
   width: 89%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.title {
   color: rgb(70, 112, 98);
   margin-bottom: 20px;
}
.wrapper {
   margin-top: 40px;
}
