.wrapper {
   width: 80%;
}

.nameWrapper {
   padding-left: 10px;
   position: relative;
   display: flex;
   margin-bottom: 15px;
}

.photo {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
   margin-right: 20px;
}

.name {
   font-size: 25px;
   color: rgb(107, 100, 100);
}

.upload input {
   display: none;
   visibility: hidden;
}

.upload label {
   position: absolute;
   top: 29px;
   left: 42px;
   cursor: pointer;
   transition: all 0.3s ease;
   opacity: 0;
}

.upload label:hover {
   opacity: 1;
}
