.users {
   width: 90%;
   place-self: center;
   display: flex;
   flex-direction: column;
   max-height: 400px;
   flex-wrap: wrap;
   gap: 20px;
   padding: 15px 10px 0px 10px;
   margin-bottom: 50px;
   &__wrapper {
      padding: 10px 0px 10px 15px;
      border-radius: 10px;
      box-shadow: 0px 0px 3px rgb(202, 196, 196);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      transition: transform 0.3s ease;
      &:hover {
         transform: scale(1.03);
      }
   }
   &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      max-width: 60px;
      & button {
         all: unset;
         cursor: pointer;
         text-align: center;
         border-radius: 5px;
         text-transform: uppercase;
         font-weight: bold;
         color: $dark;
         border: 2px solid $dark;
         padding: 2px 5px;
         user-select: none;
         font-size: 12px;
         &:disabled {
            color: rgb(132, 139, 139);
         }
      }
   }
   &__photo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
   }

   &__name {
      font-weight: bold;
      font-size: 15px;
      color: $dark;
      width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   &__status {
      font-size: 14px;
      color: $dark;
      width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   &__pagination {
      padding-bottom: 10px;
   }
}

.findusers {
   display: grid;
   &__preloader {
      margin-bottom: 211px;
   }
}
