.pagination {
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 97%;
   margin: 0 auto;
   user-select: none;

   &__pages {
      margin: 0 10px;
      display: flex;
      align-items: center;
      & span {
         border: 1px solid rgb(155, 152, 152);
         padding: 3px;
         border-radius: 5px;
         cursor: pointer;
         color: $dark;
         align-self: center;
         &:not(:last-child) {
            margin-right: 5px;
         }
      }
      .pagination__selected {
         color: #fff;
         background: rgb(161, 158, 158);
      }
   }
   & button {
      padding: 5px;
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(78, 75, 75);
      font-size: 11px;
   }
}
