.error {
   color: red;
}

.email,
.password {
   width: 70%;
   border-radius: 5px;
   padding: 10px;
   outline: none;
   border: 2px solid rgb(179, 170, 170);
   margin-bottom: 5px;
}

.checkbox {
   margin-left: 5px;
}

.fieldWrapper {
   display: flex;
   margin-bottom: 20px;
   & input,
   textarea {
      margin-left: auto;
   }
}
