.infoWrapper {
   padding-left: 10px;
   > div:not(:last-child) {
      margin-bottom: 5px;
   }
   > div .bold {
      color: rgb(145, 139, 139);
   }
}

.contactsWrapper {
   > div {
      padding-left: 10px;
      & .bold {
         color: rgb(107, 168, 168);
      }
   }
}

.status {
   cursor: pointer;
   &:hover {
      text-decoration: underline;
   }
}

//Settings Page

.infoItem {
   margin-bottom: 25px;
   display: flex;
   justify-content: space-between;
   & span {
      display: inline-block;
      max-width: 150px;
   }
}

.bold {
   font-weight: bold;
}

.jobDescription {
   text-align: right;
}

.contact {
   display: flex;
   padding-left: 20px;
   margin-bottom: 20px;
   justify-content: space-between;
}
.infoValue {
   opacity: 0.7;
}

.submitInfo {
   all: unset;
   display: block;
   margin-left: auto;
   cursor: pointer;
   color: teal;
   font-size: 18px;
   border: 1px solid teal;
   padding: 2px 7px;
   border-radius: 10px;
   &:hover {
      color: rgb(87, 201, 201);
      border: 1px solid rgb(87, 201, 201);
   }
}
