@import "variables";
@import "pagination";
@import "findUsers";
@import "textField";
@import "userInfo";

.app-wrapper {
   max-width: 1000px;
   margin: 0 auto;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 6fr;
   grid-template-areas:
      "h h"
      "n c";
   gap: 15px;

   &-content {
      width: 100%;
      background: rgb(255, 250, 250);
      grid-area: c;
      border-radius: 10px;
      display: grid;
   }
}
