.dialogs {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}
.dialogsItems {
   padding: 10px 0px 0px 10px;
}

.messages {
   place-self: start center;
}

.input {
   grid-column-start: 2;
   width: 80%;
   place-self: start center;
   margin-bottom: 10px;
}

.button {
   grid-column-start: 2;
   width: 20%;
   place-self: center end;
   margin-right: 40px;
}
