.dialogs {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}
.dialogsItems {
   padding: 15px 15px 0px 15px;
   grid-row-start: span 2;
   border-right: 1px solid rgb(202, 196, 196);
}

.messages {
   padding-top: 10px;
}

.inputWrapper {
   grid-column-start: 2;
   text-align: center;
   padding: 10px 0;
}
.recievedMessages {
   width: 50%;
   padding-left: 10px;
   text-align: left;
   border: 1px solid #000;
}
.postedMessages {
   width: 50%;
   margin-left: auto;
   border: 1px solid #000;
   padding-right: 10px;
   text-align: right;
}
