.wrapper {
   justify-self: center;
   text-align: center;
   width: 100%;
   grid-column: 2;
   grid-row: 1/3;
   border-left: 1px solid rgb(209, 193, 193);
}

h3 {
   margin: 0;
   padding: 0;
}

.activities {
   border-bottom: 2px solid rgb(193, 238, 189);
   font-size: 30px;
   font-style: italic;
   text-transform: uppercase;
   margin-bottom: 30px;
   color: rgb(76, 92, 76);
}
