.header {
   padding: 10px 20px;
   border-radius: 0px 0px 10px 10px;
   background: rgb(64, 193, 197);
   grid-area: h;
   display: flex;
   align-items: center;
}

.logo {
   width: 55px;
   height: 55px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}


.logoName {
   font-weight: bold;
   font-size: 15px;
   color: #fff;
   letter-spacing: 2px;
}

.login {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
   color: #fff;
   display: inline-block;
   border: 2px solid #fff;
   font-weight: bold;
   border-radius: 5px;
   padding: 2px 13px;
   transition: all 0.3s ease;
   margin-left: auto;
}

.login:hover {
   background: #fff;
   color: rgb(64, 193, 197);;
   border: 2px solid #fff;
}

.loginInfo {
   margin-left: auto;
}

.name {
   font-weight: bold;
   font-size: 18px;
   font-style: italic;
   color: #fff;
   cursor: pointer;
   letter-spacing: 1px;
   text-decoration: none;
   margin-right: 20px;
}

.name:hover {
   text-decoration: underline;
}
.logout {
   all: unset;
   cursor: pointer;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 10px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 5px 5px;
   font-size: 14px;
   transition: all 0.3s ease;
}

.logout:hover {
   background: #fff;
   color: rgb(64, 193, 197);;
   border: 2px solid #fff;
}