ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.nav {
   border-radius: 10px;
   padding: 10px;
   grid-area: n;
   place-self: start center;
   width: 90%;
}

.nav.back {
   background: blue;
}

.nav a {
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: bold;
   color: aquamarine;
   padding: 5px;
   transition: all 0.15s ease;
}
.nav a:hover {
   color: rgb(24, 148, 107);
   background: #fff;
   border-radius: 5px;
}

.nav li:not(:nth-child(5)) {
   margin-bottom: 15px;
}

.nav li:nth-child(6) {
   margin-top: 40px;
}

.nav li:last-child {
   margin-top: 50px;
}

a.activeLink {
   color: rgb(24, 148, 107);
   background: #fff;
   border-radius: 5px;
}

a.activeLink:hover {
   text-decoration: none;
}
