.wrapper {
   width: 50%;
   place-self: center;
   text-align: center;
}

.formButton {
   all: unset;
   cursor: pointer;
   border: 2px solid #000;
   padding: 5px 15px;
   border-radius: 10px;
   font-weight: bold;
   color: rgb(24, 12, 12);
   transition: all 0.2s ease;
}

.formButton:hover,
.formButton:focus {
   box-shadow: 0px 0px 5px rgb(95, 94, 94);
}
