.item {
   color: rgb(82, 126, 82);
   text-transform: uppercase;
   font-size: 30px;
}

.button {
   cursor: pointer;
   margin-right: 10px;
}

.like {
   font-size: 15px;
   color: #fff;
}

.counter {
   display: flex;
   align-items: center;
}
