.pagination {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 97%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination > span {
  cursor: pointer;
  color: #454f55;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pagination > span:not(:last-child) {
  margin-right: 5px;
}

.pagination > span:hover {
  text-decoration: underline;
}

.pagination__selected {
  font-weight: bold;
  font-size: 21px;
}

.users {
  width: 90%;
  place-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 350px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 10px 10px 10px 10px;
}

.users__wrapper {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.users__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  max-width: 60px;
}

.users__user button {
  all: unset;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #454f55;
  border: 2px solid #454f55;
  padding: 2px 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}

.users__user button:disabled {
  color: #848b8b;
}

.users__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.users__name {
  font-weight: bold;
  font-size: 15px;
  color: #454f55;
}

.users__status {
  font-size: 14px;
}

.find-users {
  display: -ms-grid;
  display: grid;
}

.error {
  color: red;
}

.email,
.password {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 2px solid #b3aaaa;
  margin-bottom: 5px;
}

.checkbox {
  margin-left: 5px;
}

.infoWrapper {
  padding-left: 10px;
}

.infoWrapper > div:not(:last-child) {
  margin-bottom: 5px;
}

.infoWrapper > div .bold {
  color: #4b4949;
}

.contactsWrapper > div {
  padding-left: 10px;
}

.contactsWrapper > div .bold {
  color: #478686;
}

.status {
  cursor: pointer;
}

.infoItem {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoItem span {
  display: inline-block;
  max-width: 150px;
}

.bold {
  font-weight: bold;
}

.jobDescription {
  text-align: right;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 5px;
}

.infoValue {
  opacity: 0.7;
}

.fieldWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.submitInfo {
  all: unset;
  display: block;
  margin-left: auto;
  cursor: pointer;
  color: teal;
  font-size: 18px;
}

.submitInfo:hover {
  color: #57c9c9;
}

.contactInput {
  width: 50%;
}

.app-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
      grid-template-areas: "h h" "n c";
  gap: 15px;
}

.app-wrapper-content {
  width: 100%;
  background: snow;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}
