.app-wrapper {
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4.5fr;

  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  background: rgb(218, 247, 247);
  grid-area: c;
  border-radius: 10px;
}

.nav {
  max-height: 290px;
}
