.field {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 15px;
}
.field input[type="text"],
input[type="password"] {
   width: 80%;
   border-radius: 5px;
   padding: 10px;
   outline: none;
   border: 2px solid rgb(179, 170, 170);
   margin-bottom: 5px;
}

.label {
   font-weight: bold;
   margin-bottom: 5px;
}

.error {
   color: red;
}
